* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #1F2937
}
/* Flex container for entire header */
.contain-header {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    background-color: #1F2937;
}
/* Header logo */
.box-1 {
height: 50px;
width: 130px;
background-color: #1F2937;
color: white;
margin-right: auto;
margin-left: 80px;
}
/* The three header boxes */
.box-2, .box-3, .box-4 {
height: 50px;
width: 130px;
background-color: #1F2937;
color: gray;
}
/* The last box to the right in the header*/
.box-4 {
    margin-right: 70px;
}
/* Second flex container */
.contain-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

/* First box in 2nd flex container*/
.box-5 {
    height: auto;
    width: 250px;
    background-color: #1F2937;
    color: white;
}
.box-6 {
    font-size: 25px;
    font-weight:800;
    margin-left: 10px;
}

.box-7 {
margin-left: 10px;
}

.button {
background-color: rgb(0, 178, 248);
height: 20px;
width: 70px;
color: white;
border-radius: 10%;
margin-left: 10px;
display: flex;
justify-content: center;
margin-top: 5px;
}
/* Second box in 2nd flex container */
.box-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    background-color: lightslategray;
    color: white;
}
/* This website is awesome */
.largebold {
    font-size: 25px;
    font-weight:800;
}
