/* Universal selector to make all boxes easier to measure */
* {
    box-sizing: border-box;
}
/* I set margin and padding to 0 to prevent white space on the page edges */
body {
    margin: 0px;
    padding: 0px;
    background-color: #1F2937
}
/* Flex container for entire header */
.container-header {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    background-color: #1F2937;
}
/* Header logo */
.box-1 {
height: 50px;
width: 130px;
background-color: #1F2937;
color: white;
margin-right: auto;
margin-left: 80px;
font-family: sans-serif;
font-weight: bold;
}
/* The three header boxes */
.box-2, .box-3, .box-4 {
height: 50px;
width: 130px;
background-color: #1F2937;
color: gray;
font-family: sans-serif;
}
/* The last box to the right in the header*/
.box-4 {
    margin-right: 70px;
}
/* Second flex container */
.flexcontainer-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

/* First box in 2nd flex container*/
.box-5 {
    height: auto;
    width: 250px;
    background-color: #1F2937;
    color: white;
}
.box-6 {
    font-size: 25px;
    font-weight:700;
    margin-left: 10px;
    font-family: sans-serif;
}

.box-7 {
margin-left: 10px;
font-size: small;
color: #ffffff99;
}

.button {
background-color:#3882F6;
height: 20px;
width: 70px;
color: white;
border-radius: 10%;
margin-left: 10px;
display: flex;
justify-content: center;
margin-top: 5px;
font-family: sans-serif;
font-size: 10px;
padding: 5px;

}
/* Second box in 2nd flex container */
.box-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    background-color: lightslategray;
    color: white;
}
/* This website is awesome */
.largebold {
    font-size: 25px;
    font-weight:800;
}
/* The first white container */
.container-2 {
    height: 320px;
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 60px;
}
/* "Some random information"*/
    .boldtext {
        font-size: 20px;
        font-weight:900;
        margin-bottom: 25px;
        margin-top: 50px;
        padding-top: 20px;
        font-family:sans-serif;
}
/* Contains the 4 white boxes and text below */
.flexcontainer-2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
/* The four white boxes with blue border */
.box-9 {
    height: 110px;
    width: 110px;
    border: 3px solid #3882F6;
    border-radius: 10%;
    background-color: white;
}
/* Helps to align text under white boxes*/
.info {
    max-width: 115px;

    
}
/* Adds a small margin between 4 white boxes and text below */
.text-1 {
    margin-top: 5px;
    font-size: small;
    text-align:initial;
}
/* Gray container */
.container-3 {
background-color: #E5E7EB;
height: 200px;
}
/* Invisible container in gray container */
.flexcontainer-3 {
    display: flex;
    height: 95px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    }
/* This is an inspiring quote message */
.text-2 {
    max-width: 340px;
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
    color: gray;
}

/* Container for "Thor, God of Thunder" quote. */
.flexcontainer-4 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 300px;
    padding-top: 45px;
    font-weight: 900;
    font-family: sans-serif;
    
    font-size: small;
}
/* Bottom white container */
.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 170px;
}
/* Bottom blue container */
.flexcontainer-5 {
    display: flex;
    background-color: #3882F6;
    height: 75px;
    width: 700px;
    border-radius: 5px;
    align-items: center;
}

.box-10 {
height: 50px;
width: 300px;
color: white;
font-weight: bold;
margin-left: 100px;
margin-top: 15px;
font-family: sans-serif;
}
.box-11 {
color: #ffffff99;
height:auto;
width:auto;
font-size: x-small;

}
.signup {
    display: flex;
height: 30px;
width: 90px;
border: 2px solid #ffffff99;
border-radius: 5px;
margin-left: 100px;
justify-content: center;
align-items: center;
color:white;
font-family: sans-serif;
}

.footer-note {
    display: flex;
    height: 50px;
    background-color: #1F2937;
    color:#ffffff99 ;
    font-size: x-small;
    justify-content: center;
    align-items: center;
}



